@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
:root {
  --main-color: #5c7aea;
  --accent-color: #ebf2fa;
  --white: #fff;
  --padding: 20px;
}
/* body {
  overflow-x: hidden;
} */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  min-height: 100vh;
  display: flex;
  position: relative;
  max-width: 100vw;
  /* background-color: khaki; */
}

/* ? aside start*/
aside {
  height: 100vh;
  width: 15vw;
  background-color: var(--main-color);
  position: sticky;
  top: 0;
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  gap: 130px;
  padding-top: 77px;
}
aside .infos {
  text-align: center;
}

aside img {
  width: 100%;
}

aside .infos p {
  position: relative;
  margin: auto;
  margin-top: 10px;
}
aside .infos p::after {
  content: "";
  position: absolute;
  width: 100%;
  background-color: var(--white);
  height: 1px;
  bottom: 0;
  left: 0;
}

aside .menu {
  font-size: 1.2rem;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  gap: 20px;
}

aside .menu a {
  text-decoration: none;
  color: inherit;
  transition: transform 250ms ease;
  /* width: max-content; */
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
aside .menu a:hover {
  transform: scale(1.05);
  /* box-shadow: 0 0 5px 5px black; */
}
aside i {
  margin-right: 10px;
}
.fa-bars {
  display: none;
  z-index: -1;
  position: absolute;
  color: var(--white);
  cursor: pointer;
}
/* ? aside end*/
/* ? modal start*/
#modal {
  position: absolute;
  z-index: -1;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
}
.achat {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 50%;
  height: 60%;
  background-color: var(--white);
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.bbtns {
  display: flex;
  gap: 30px;
}
.bbtns .ann {
  color: var(--white);
  padding: 10px 50px;
  background: rgba(11, 5, 79, 1);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  cursor: pointer;
}
.bbtns .conf {
  /* background-color: #5c7aea; */
  color: var(--white);
  padding: 10px 50px;
  background: #5c7aea;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  border-radius: 10px;
}
/* ? modal end*/

/* ? voir buttons start*/
.voir-prod {
  position: absolute;
  /* z-index: -1; */
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(255, 255, 255, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1;
  opacity: 0;
}
.voir-content {
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  box-shadow: 0px 0px 100px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  width: 40%;
  height: 50%;
  background-color: var(--white);
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  gap: 10px;
}
.voir-content img {
  width: 40%;
}
.fa-times {
  position: absolute;
  top: calc(25% + 10px);
  right: calc(30% + 10px);
  cursor: pointer;
  padding: 10px;
  color: var(--main-color);
}
/* ? voir buttons end*/

/* ? main start*/
main {
  display: flex;
  /* background-color: lightblue; */
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  width: 100%;
  /* height: 200vh; */
}

main header {
  display: flex;
  justify-content: space-between;
  padding: var(--padding);
  align-items: center;
  /* outline: 1px solid red; */
}
main .fa-search {
  color: var(--main-color);
}
main input[type="text"] {
  outline: none;
  border: none;
  border-bottom: 4px solid var(--main-color);
  padding: 5px 10px;
}

main input[type="text"]::placeholder {
  color: var(--main-color);
}
main input[type="text"] {
  color: var(--main-color);
  font-weight: 600;
}
main .stats {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-inline: var(--padding);
  gap: 30px;
}
main .stats div {
  background-color: var(--accent-color);
  height: 140px;
  flex-basis: 100%;
  box-shadow: -2px 2px 4px var(--main-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding);
}
main .stats i {
  color: var(--main-color);
}
/* ? main end*/

/*? products start*/
main .products {
  padding: var(--padding);
}
main .products-list {
  border-collapse: separate;
  border-spacing: 0 10px;
  width: 100%;
}
main .products-list tr {
  background-color: var(--accent-color);
  margin-bottom: 10px;
}
main .products-list td {
  text-align: center;
  padding: var(--padding) 5px;
  color: var(--main-color);
  font-weight: 600;
}
main .products-list tr td:last-child {
  padding: 0;
}
main .voir {
  border: none;
  background-color: var(--main-color);
  color: var(--accent-color);
  width: 100%;
  padding: var(--padding);
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-size: 1rem;
}
.products-list .edit {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.products-list .fa-trash {
  color: red;
}
.products-list .edit a {
  text-decoration: none;
  color: var(--main-color);
}
/*? products end*/

/*? add form start*/
.form {
  /* outline: 1px solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  flex-wrap: wrap;
  padding: var(--padding);
  background-color: var(--accent-color);
}
.form .data-input {
  display: flex;
  flex-direction: column;
  width: 45%;
}
.form .data-input input,
.form textarea {
  padding: 10px var(--padding);
  border-radius: 5px;
  border: 1px black solid;
  border-bottom: 4px solid var(--main-color);
}
.form label {
  color: var(--main-color);
  font-weight: 700;
}
.btns {
  flex-direction: row;
  gap: var(--padding);
  justify-content: flex-end;
}
.form .btns button,
.form .btns a {
  padding: 10px 50px;
  height: max-content;
  border: none;
  border-radius: 5px;
  color: var(--white);
}
.form .btns .sub {
  background-color: var(--main-color);
}
.form .btns .an {
  text-decoration: none;
  color: var(--white);
  background-color: #0b054f;
  text-align: center;
}
/*? add form end*/

footer {
  margin-top: auto;
  background-color: var(--accent-color);
  padding: var(--padding);
}

@media screen and (max-width: 1340px) {
  header img {
    width: 200px;
  }
  aside {
    width: 10vw;
  }
  aside .infos img {
    width: 80%;
  }
  aside .menu p {
    display: none;
  }
  aside .menu i {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 1000px) {
  main {
    margin-left: 5vw;
  }
  aside {
    position: absolute;
    width: 70px;
  }
  .aside-mobile {
    width: 5vw;
  }
  .mobile {
    opacity: 0;
  }
  .fa-bars {
    opacity: 1;
    position: absolute;
    margin: auto;
    top: 40px;
    display: block;
    z-index: 9999;
    color: var(--white);
  }
  main .stats {
    overflow-x: scroll;
  }
  main .stats div {
    min-width: 300px;
  }
}
@media screen and (max-width: 800px) {
  .container {
    width: 100vw;
  }
  main .products {
    width: 100%;
    overflow-x: scroll;
  }
  main .products-list {
    width: 900px;
  }
  .achat {
    width: 80%;
  }
  .achat .bbtns {
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
}
@media screen and (max-width: 500px) {
  header img {
    width: 100px;
  }
}
